{% extends "todo/base.html" %}

{% block content %}
<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>Done - удобный сайт для создания списка задач.</h1>
            <p>Порой нужно много чего успеть. Но не всегда удается удержать в голове задачи, которые нужно выполнить. Тут и приходит на помощь Done.</p>
        <a role="button" class="btn btn-info btn-lg" href="{% url 'signupuser' %}">Начать</a>
        </div>
    </div>

{% endblock %}
