.navbar-nav .nav-link {
    color: rgba(255,255,255,1) !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(255,0,0,.5) !important;
}


body {
    font-family: 'Lato', sans-serif;
    #background: url("/static/portfolio/abs.png") 50% 0 no-repeat fixed;
}

#blogtitle {
    font-size: 6rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}

.myColor
{
    color:white;
}

